---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brasieres">
    <main class="main">
        <div class="brasierCategory">
            <strong>BRASIERES</strong>
            <ul class="categories">
                <li class="product"><a href="#">producto</a></li>
                <li class="product"><a href="#">producto</a></li>
                <li class="product"><a href="#">producto</a></li>
                <li class="product"><a href="#">producto</a></li>
                <li class="product"><a href="#">producto</a></li>
            </ul>
        </div>

        <section class="filter">
            <h1>Filtrar Brasieres por lo talla, estio, etc.</h1>
        </section>

        <section class="gridProducts">
            <h1>gris donde se muestran los productos</h1>
        </section>
    </main>
</Layout>