---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="head">
      <picture class="picture">
        <img class="imgIntro" src="../../public/media/model.jpg" alt="intro" />
      </picture>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    font-size: 20px;
    line-height: 1.6;
  }

  .head{
    display: grid;
    place-items: center;
  }

  .picture {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .picture img {
    max-width: 100%;
  }

  .gridCategories {
    display: grid;
    justify-content: space-between;
    padding: 25px 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 10px;
  }
</style>
