---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<head class="head">
			<Header/>
		</head>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 80%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	
</style>
