---
import ProductCard from "./ProductCard.astro"
---

<h1>Categorias</h1>

<section class="section">
  <div class="gridCategories">
    <ProductCard
      id={1}
      title="the crazy world"
      ,
      image="https://via.placeholder.com/300x400?text=T-Shirt+Bra"
      price={200}
      category="funny"
    />
    <ProductCard
      id={1}
      title="the crazy world"
      ,
      image="https://via.placeholder.com/300x400?text=T-Shirt+Bra"
      price={200}
      category="funny"
    />
    <ProductCard
      id={1}
      title="the crazy world"
      ,
      image="https://via.placeholder.com/300x400?text=T-Shirt+Bra"
      price={200}
      category="funny"
    />
    <ProductCard
      id={1}
      title="the crazy world"
      ,
      image="https://via.placeholder.com/300x400?text=T-Shirt+Bra"
      price={200}
      category="funny"
    />
  </div>
</section>
