<header class="header" id="Header">
  <div class="logo2">
    <a  class="px-6 py-3 text-2xl" href='../pages/index.astro'><h1>Moon <span class="text-gradient">Threads</span></h1></a>    
  </div>
  <!-- <strong class="logo"> Moon Threads </strong> -->

  <nav class="links">
    <ul class="listLinks">
      <li class="link"><a href="#Inicio">Inicio</a></li>
      <li class="link"><a href="#Brasieres">Brasieres</a></li>
      <li class="link"><a href="#Panties">Panties</a></li>
      <li class="link"><a href="#Todo">Todo</a></li>
    </ul>

    <div class="icons">
      <i class="bx bx-search"></i>
    </div>
  </nav>

  <div class="hoverLink" id="HoverLink"></div>
</header>

<style>
  .logo2{
    place-self: center;
  }
	.text-gradient {
    color: rgb(143, 39, 146);
	}
  .header {
    /* background-color: aqua; */
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .links {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
  }
  .links .icons i {
    font-size: 25px;
    padding: 10px; 
    cursor: pointer;  
    transition: color .2s ease-in;
    
    &:hover{
      color: rgb(143, 39, 146);
    }
  }
  .links .listLinks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: 40px;
  }
  .links .listLinks a {
    text-decoration: none;
    padding: 7px 21px;
    transition:color 80ms ease-in-out;

    &:hover{
      color: white;
    }
  }

  .hoverLink {
    position: absolute;
    width: var(--width);
    height: var(--height);
    left: var(--left);
    top: var(--top); 
		border-radius: 5px;
    background-color: rgba(143, 39, 146, 0.63);
    backdrop-filter: blur(2px);
		z-index: -5;
    transition: all 80ms ease-in-out;
  }
</style>

<script>
  const $links = document.querySelectorAll("#Header li");
  const $hover = document.getElementById("HoverLink");
	const headerOffsetLeft = document.getElementById("Header").offsetLeft;
	const headeroffsetTop = document.getElementById("Header").offsetTop;
	

  $links.forEach((link) => {
    link.addEventListener("mouseenter", (e) => {
      const {width, height, left, top} = link.getBoundingClientRect();
      $hover.style.setProperty("--width", `${width}px`);
      $hover.style.setProperty("--height", `${height}px`);
      $hover.style.setProperty("--left", `${left - headerOffsetLeft}px`);
      $hover.style.setProperty("--top", `${top - headeroffsetTop}px`);
			console.log(e.target);
      $hover.style.visibility = "visible";
    });

		link.addEventListener('mouseleave', ()=>{
			$hover.style.visibility = "hidden";
		});
  });
</script>
